body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  color: #36244D;
  padding: 5px;
}

.mask {
  font-size: 40px;
  color: #F5C518;
}

.fas {
  margin-left: 10px;
  margin-right: 10px;
}

#navbar {
  background-color: black;
  padding: 10px;
}

.inputDiv {
  text-align: center;
}

input[id="searchInput"] {
  border: none;
  border-radius: 3px 0 0 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  font: 14px Verdana, Arial, sans-serif;
  height: 19px;
  padding: 5px 8px;
  vertical-align: middle;
  width: 40%;
  margin-bottom: 10px;
}

.item-container {
  border: 1px black solid;
  margin: 1.75%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  width: auto;
  border-radius: 10px;
}

.item-container:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.item-container h3 {
  text-transform: uppercase;
  font-size: 1em;
  max-width: 320px;
  letter-spacing: 3px;
}

.image-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

#not-found {
  text-transform: uppercase;
  font-size: 1.66em;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
}

.item-container p {
  margin: 0;
  color: #666;
}

.item-container img {
  padding: 32px;
  width: 270px;
  height: auto;
  max-width: 350px;
}

.outputSectionContainer {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

section {
  margin-bottom: 5%;
  margin-top: 2.5%;
}

button {
  background: #F5C518;
  border-radius: 0 3px 3px 0;
  height: 29px;
  vertical-align: middle;
  margin-bottom: 10px;

}

button:hover {
  cursor: pointer;
}


/* label {
  font-size: 1.5em;
  display: block;
  margin-top: 0.75%;
} */
