<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./public/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="./public/styles/responsiveness.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie</title>
</head>
<body>

 <h1></h1>




  <script type="text/javascript" src="../public/scripts/fetch.js"> </script>
  <script type="text/javascript" src="./public/scripts/select.js"> </script>


</body>
</html>
