<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./public/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="./public/styles/responsiveness.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie</title>
</head>
<body>
  <div class="outputSectionContainer">

<div style="cursor:default" class="item-container">
<h3></h3>
<p></p>
<p style="color:#141414"></p>


<img>
<p></p>
<p></p>
<br>
</div>
</div>

<div class="outputSectionContainer">
  <div style="cursor:default; padding:15px;" class="item-container">

<p></p>
<br>
<p style="color:#141414"></p>
</div>
</div>



  <script type="text/javascript" src="../public/scripts/fetch.js"> </script>
  <script type="text/javascript" src="./public/scripts/select.js"> </script>


</body>
</html>
